<div class="my-3">
    <h2>Take, TakeLast, TakeUntil</h2>
    <br>

    <p class="py-3 px-3 border rounded bg-text-light col-md-6">
        <strong>
            Inputs:
        </strong>
        ['Anup','Shekhar','Paul','John','Alex','Sharma','Rohit','Nitin']
    </p>
    <div class="row">
        <div class="col-md-4">
            <strong>Take</strong>
            <hr>
            <ul id="ele1"></ul>
        </div>
        <div class="col-md-4">
            <strong>TakeLast</strong>
            <hr>
            <ul id="ele2"></ul>
        </div>
        <div class="col-md-4">
            <strong>TakeUntil</strong>
            <hr>
            <ul id="ele3"></ul>
        </div>
    </div>
</div>