<div class="my-3">
    <h2>ToArray</h2>
    <br>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">interval</div>
                <div class="card-body">
                    <ul id="ele1"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">from</div>
                <div class="card-body">
                    <ul id="ele2"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">of</div>
                <div class="card-body">
                    <ul id="ele3"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
