<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink="formEvent">formEvent</a>
            </li>
            <li>
                <a routerLink="interval">interval</a>
            </li>
            <li>
                <a routerLink="of-from">of() & from()</a>
            </li>
            <li>
                <a routerLink="toArray">ToArray</a>
            </li>
            <li>
                <a routerLink="custom-observable">Custom Observable</a>
            </li>
            <li>
                <a routerLink="map-operator">Map</a>
            </li>
            <li>
                <a routerLink="pluck-operator">Pluck</a>
            </li>
            <li>
                <a routerLink="filter-operator">Filter</a>
            </li>
            <li>
                <a routerLink="tap-operator">Tap</a>
            </li>
            <li>
                <a routerLink="take-operator">Take, TakeLast & TakeUntil</a>
            </li>
            <li>
                <a routerLink="retry-operator">Retry,RetryWhen, Scan, Delay</a>
            </li>
            <li>
                <a routerLink="debounce-operator">Debounce Time And DistinctUntilChanged</a>
            </li>
            <li>
                <a routerLink="subject">Subject & BehaviourSubject</a>
            </li>
            <li>
                <a routerLink="replay-subject">Replay Subject</a>
            </li>
            <li>
                <a routerLink="async-subject">Async Subject</a>
            </li>
            <li>
                <a routerLink="concat-operator">Concat Operator</a>
            </li>
            <li>
                <a routerLink="merge-operator">Merge Operator</a>
            </li>
            <li>
                <a routerLink="merge-map-operator">Merge Map Operator</a>
            </li>
            <li>
                <a routerLink="concat-map-operator">Concat Map Operator</a>
            </li>
            <li>
                <a routerLink="switch-map-operator">Switch Map Operator</a>
            </li>
            <li>
                <a routerLink="exhaust-map-operator">Exhaust Map Operator</a>
            </li>
            <li>
                <a routerLink="share-replay">Share Replay</a>
            </li>
            <li>
                <a routerLink="combine-latest">Combine Latest & WithLatestFrom</a>
            </li>
            <li>
                <a routerLink="fork-join">Zip & forkJoin</a>
            </li>
        </ul>
    </div>
</div>