<div class="my-3">
    <h2>Merge Operator</h2>
    <br>

    <div class="row">
        <div class="col-md-4">
            <strong>TechVideos(1,2,3,4,5)</strong>
            <hr>
            <ul id="ele1">
                <li>Video 1</li>
                <li>Video 2</li>
                <li>Video 3</li>
                <li>Video 4</li>
                <li>Video 5</li>
            </ul>
        </div>
        <div class="col-md-4">
            <strong>ComedyVideos(1,2,3)</strong>
            <hr>
            <ul id="ele2">
                <li>Video 1</li>
                <li>Video 2</li>
                <li>Video 3</li>
            </ul>
        </div>
        <div class="col-md-4">
            <strong>NewsVideos(1,2,3,4)</strong>
            <hr>
            <ul id="ele3">
                <li>Video 1</li>
                <li>Video 2</li>
                <li>Video 3</li>
                <li>Video 4</li>
            </ul>
        </div>
    </div>

    <hr>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header"> Concat Videos</div>
                <div class="card-body">
                    <ul id="concat">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>