<div class="my-3">
    <h2>Map Operator</h2>
    <br>


    <div class="row">
        <div class="col-md-4">
            <strong>Map(data=>'video '+data)</strong>
            <hr>
            <ul id="ele1"></ul>
        </div>
        <div class="col-md-4">
            <strong>Map(data=>data * 10)</strong>
            <hr>
            <ul id="ele2"></ul>
        </div>
        <div class="col-md-4">
            <strong>Map(Objectdata=>Objectdata.name)</strong>
            <hr>
            <ul id="ele3"></ul>
        </div>
    </div>
</div>
