<div class="my-3">
    <h2>Switch Map Operator</h2>
    <br>

    <div class="row">
        <div class="col-md-4">
            <strong>Map(['Tech','Comedy','News'])</strong>
            <hr>
            <ul id="ele1">
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Map + SwitchAll (['Tech','Comedy','News'])</strong>
            <hr>
            <ul id="ele2">  
            </ul>
        </div>
        <div class="col-md-4">
            <strong>SwitchMap (['Tech','Comedy','News'])</strong>
            <hr>
            <ul id="ele3">
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <strong>MergeMap(['Tech','Comedy','News'])</strong>
            <hr>
            <ul id="ele4">
            </ul>
        </div>
        <div class="col-md-4">
            <strong>ConcatMap(['Tech','Comedy','News'])</strong>
            <hr>
            <ul id="ele5">  
            </ul>
        </div>
        <div class="col-md-4">
            <strong>SwitchMap (['Tech','Comedy','News'])</strong>
            <hr>
            <ul id="ele6">
            </ul>
        </div>
    </div>
</div>
