<div class="my-3">
    <h2>Merge Map Operator</h2>
    <br>


    <div class="row">
        <div class="col-md-4">
            <strong>Map(['Tech','Comedy','News'])</strong>
            <hr>
            <ul id="ele1">
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Map + MergeALL(['Tech','Comedy','News'])</strong>
            <hr>
            <ul id="ele2">  
            </ul>
        </div>
        <div class="col-md-4">
            <strong>MergeMap (['Tech','Comedy','News'])</strong>
            <hr>
            <ul id="ele3">
            </ul>
        </div>
    </div>
</div>
