<div class="my-3">
    <h2>Of() & from()</h2>
    <br>
    <strong>Ex-1 Of()</strong>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p class="bg-light py-3 px-3 border rounded"><strong>Data:</strong> of('Anup','Shekhar','Otwal')</p>
            <hr>
            <ul id="ele1">
            </ul>
        </div>
        <div class="col-md-6">
            <p class="bg-light py-3 px-3 border rounded"><strong>Data:</strong> of(&#123;a:'Anup',b:'Shekhar',c:'Otwal'&#125;)</p>
            <hr>
            <ul id="ele2">
                <li>a: {{objObs.a}} </li>
                <li>b: {{objObs.b}} </li>
                <li>c: {{objObs.c}} </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p class="bg-light py-3 px-3 border rounded"><strong>Data:</strong> from(Array)</p>
            <hr>
            <ul id="ele3">
            </ul>
        </div>
        <div class="col-md-3">
            <p class="bg-light py-3 px-3 border rounded"><strong>Data:</strong> from(any promise)</p>
            <hr>
            <ul id="ele4">
                
            </ul>
        </div>
        <div class="col-md-3">
            <p class="bg-light py-3 px-3 border rounded"><strong>Data:</strong> from(String)</p>
            <hr>
            <ul id="ele5">
                
            </ul>
        </div>
    </div>

</div>
