<div class="my-3">
    <h2>CombineLatest & WithLatestFrom</h2>
    <br>

    <label for="name">Name</label>
    <select name="name" id="name" #name>
        
        <option *ngFor="let n of names" value="{{n}}">{{n}}</option>
    </select>

    <label for="color">Color</label>
    <select name="color" id="color" #color>
        <option *ngFor="let color of colors" value="{{color}}">{{color}}</option>
    </select>
    <br>
    <br>

    <strong>Combine Latest</strong>

    <div id="ele1">

    </div>

    <br>
    <br>

    <strong>With Latest From</strong>

    <div id="ele2">

    </div>
</div>
