/* You can add global styles to this file, and also import other style files */
ul.techlist{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.techlist li{
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px 13px;
    margin-bottom: 10px;
}

ul.techlist.error li{
    background: rgba(255,0,0,0.08);
    color: red;
   border-color: red;
}

ul.techlist.completed li{
    background: rgba(0,255,0,0.08);
    color: green;
   border-color : green;
}

.red{
 background-color: red;
}
.blue{
background-color: blue;
}
.green{
    background-color: green;
}
.violet{
    background-color: violet;
}
.pink{
background-color: pink;
}